.text_div {
  white-space: pre-wrap;
  color: #d1ff00;
  text-align: center;
  font-family: Inter;
  font-size: 1em;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;

  padding: 3rem 0 0.5rem 0;
}
