.city_container {
  border: none;

  display: flex;
  flex-wrap: wrap;
  max-width: 750px;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  margin: 1rem 0 4rem 0;
}

.city_map_count {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  max-width: 750px;
}
.city_map_count_num {
  color: #d1ff00;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}
